--
-- PostgreSQL database dump
--

\restrict iHHFsS6oiz6dgwcxQ9kNYRi4TBy8hMLw3Jf7q9J0qPu0VePdgsmM5h6eW8fXWSh

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookmarks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookmarks (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    media_type character varying(10) NOT NULL,
    timestamp_sec double precision NOT NULL,
    label character varying(255) DEFAULT ''::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bookmarks OWNER TO postgres;

--
-- Name: bookmarks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bookmarks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookmarks_id_seq OWNER TO postgres;

--
-- Name: bookmarks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bookmarks_id_seq OWNED BY public.bookmarks.id;


--
-- Name: chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapters (
    id integer NOT NULL,
    chapter_number integer NOT NULL,
    title character varying(255) NOT NULL,
    description text
);


ALTER TABLE public.chapters OWNER TO postgres;

--
-- Name: chapters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chapters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chapters_id_seq OWNER TO postgres;

--
-- Name: chapters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chapters_id_seq OWNED BY public.chapters.id;


--
-- Name: content_generation_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_generation_log (
    id integer NOT NULL,
    topic_id character varying(10),
    content_type character varying(50) NOT NULL,
    generated_code text,
    preview_path character varying(500),
    status character varying(50) NOT NULL,
    generated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.content_generation_log OWNER TO postgres;

--
-- Name: content_generation_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.content_generation_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.content_generation_log_id_seq OWNER TO postgres;

--
-- Name: content_generation_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.content_generation_log_id_seq OWNED BY public.content_generation_log.id;


--
-- Name: content_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_status (
    id integer NOT NULL,
    topic_id character varying(10),
    content_type character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    file_path character varying(500),
    generated_at timestamp without time zone,
    approved_by integer,
    approved_at timestamp without time zone
);


ALTER TABLE public.content_status OWNER TO postgres;

--
-- Name: content_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.content_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.content_status_id_seq OWNER TO postgres;

--
-- Name: content_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.content_status_id_seq OWNED BY public.content_status.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    rating integer,
    feedback_text text,
    submitted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT feedback_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.feedback OWNER TO postgres;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO postgres;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: format_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.format_tracking (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    format character varying(20) NOT NULL,
    time_spent_seconds integer DEFAULT 0,
    session_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    quiz_score_after integer,
    CONSTRAINT format_tracking_format_check CHECK (((format)::text = ANY ((ARRAY['english'::character varying, 'urdu'::character varying, 'audio_en'::character varying, 'visual'::character varying, 'lecture'::character varying])::text[])))
);


ALTER TABLE public.format_tracking OWNER TO postgres;

--
-- Name: format_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.format_tracking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.format_tracking_id_seq OWNER TO postgres;

--
-- Name: format_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.format_tracking_id_seq OWNED BY public.format_tracking.id;


--
-- Name: highlights; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.highlights (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    tab character varying(20) NOT NULL,
    selected_text text NOT NULL,
    color character varying(20) DEFAULT 'yellow'::character varying,
    paragraph_index integer NOT NULL,
    start_offset integer NOT NULL,
    end_offset integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.highlights OWNER TO postgres;

--
-- Name: highlights_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.highlights_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.highlights_id_seq OWNER TO postgres;

--
-- Name: highlights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.highlights_id_seq OWNED BY public.highlights.id;


--
-- Name: lecture_slides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecture_slides (
    id integer NOT NULL,
    topic_id character varying(10) NOT NULL,
    slide_number integer NOT NULL,
    title character varying(255) NOT NULL,
    bullets jsonb NOT NULL,
    narration_ur text,
    audio_ur_path character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lecture_slides OWNER TO postgres;

--
-- Name: lecture_slides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lecture_slides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lecture_slides_id_seq OWNER TO postgres;

--
-- Name: lecture_slides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lecture_slides_id_seq OWNED BY public.lecture_slides.id;


--
-- Name: note_clips; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.note_clips (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    source character varying(30) NOT NULL,
    content text NOT NULL,
    slide_number integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.note_clips OWNER TO postgres;

--
-- Name: note_clips_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.note_clips_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.note_clips_id_seq OWNER TO postgres;

--
-- Name: note_clips_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.note_clips_id_seq OWNED BY public.note_clips.id;


--
-- Name: notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notes (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    content text DEFAULT ''::text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notes OWNER TO postgres;

--
-- Name: notes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notes_id_seq OWNER TO postgres;

--
-- Name: notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notes_id_seq OWNED BY public.notes.id;


--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_verifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    otp_code character varying(6) NOT NULL,
    purpose character varying(50) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.otp_verifications OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.otp_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.otp_verifications_id_seq OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.otp_verifications_id_seq OWNED BY public.otp_verifications.id;


--
-- Name: question_performance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_performance (
    id integer NOT NULL,
    quiz_attempt_id integer,
    user_id integer,
    topic_id character varying(10),
    question_type character varying(20),
    question_text text,
    student_answer text,
    correct_answer text,
    reference_answer text,
    is_correct boolean,
    similarity_score double precision,
    points_earned integer,
    points_possible integer,
    answered_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.question_performance OWNER TO postgres;

--
-- Name: question_performance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.question_performance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.question_performance_id_seq OWNER TO postgres;

--
-- Name: question_performance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.question_performance_id_seq OWNED BY public.question_performance.id;


--
-- Name: quiz_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_attempts (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    format_used character varying(50) NOT NULL,
    mcq_score integer NOT NULL,
    subjective_score integer NOT NULL,
    total_score integer NOT NULL,
    mcq_responses jsonb,
    subjective_responses jsonb,
    time_spent_learning_seconds integer,
    quiz_duration_seconds integer,
    attempted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.quiz_attempts OWNER TO postgres;

--
-- Name: quiz_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_attempts_id_seq OWNER TO postgres;

--
-- Name: quiz_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_attempts_id_seq OWNED BY public.quiz_attempts.id;


--
-- Name: student_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_progress (
    user_id integer NOT NULL,
    topic_id character varying(10) NOT NULL,
    status character varying(50) DEFAULT 'not_started'::character varying NOT NULL,
    best_score integer,
    attempts_count integer DEFAULT 0,
    time_spent_seconds integer DEFAULT 0,
    last_accessed timestamp without time zone,
    completed_at timestamp without time zone
);


ALTER TABLE public.student_progress OWNER TO postgres;

--
-- Name: student_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_questions (
    id integer NOT NULL,
    user_id integer,
    topic_id character varying(10),
    question_text text NOT NULL,
    answer_text text,
    citation character varying(500),
    was_helpful boolean,
    asked_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.student_questions OWNER TO postgres;

--
-- Name: student_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_questions_id_seq OWNER TO postgres;

--
-- Name: student_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_questions_id_seq OWNED BY public.student_questions.id;


--
-- Name: topics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topics (
    topic_id character varying(10) NOT NULL,
    chapter_id integer,
    topic_name character varying(255) NOT NULL,
    paragraph_1 text NOT NULL,
    paragraph_2 text NOT NULL,
    paragraph_3 text,
    paragraph_4 text,
    paragraph_5 text,
    visual_type character varying(20),
    visual_path character varying(500),
    visual_narration text,
    urdu_paragraph_1 text,
    urdu_paragraph_2 text,
    urdu_paragraph_3 text,
    urdu_paragraph_4 text,
    urdu_paragraph_5 text,
    audio_en_path character varying(500),
    mindmap_json jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT topics_visual_type_check CHECK (((visual_type)::text = ANY ((ARRAY['animation'::character varying, 'diagram'::character varying])::text[])))
);


ALTER TABLE public.topics OWNER TO postgres;

--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_preferences (
    user_id integer NOT NULL,
    current_format character varying(50),
    recommended_format character varying(50),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_preferences OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_verified boolean DEFAULT false,
    profile_picture_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['student'::character varying, 'teacher'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vark_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vark_assessments (
    id integer NOT NULL,
    user_id integer,
    visual_score integer NOT NULL,
    auditory_score integer NOT NULL,
    reading_score integer NOT NULL,
    kinesthetic_score integer NOT NULL,
    recommended_format character varying(50) NOT NULL,
    assessed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.vark_assessments OWNER TO postgres;

--
-- Name: vark_assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vark_assessments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vark_assessments_id_seq OWNER TO postgres;

--
-- Name: vark_assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vark_assessments_id_seq OWNED BY public.vark_assessments.id;


--
-- Name: bookmarks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks ALTER COLUMN id SET DEFAULT nextval('public.bookmarks_id_seq'::regclass);


--
-- Name: chapters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters ALTER COLUMN id SET DEFAULT nextval('public.chapters_id_seq'::regclass);


--
-- Name: content_generation_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_generation_log ALTER COLUMN id SET DEFAULT nextval('public.content_generation_log_id_seq'::regclass);


--
-- Name: content_status id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_status ALTER COLUMN id SET DEFAULT nextval('public.content_status_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: format_tracking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.format_tracking ALTER COLUMN id SET DEFAULT nextval('public.format_tracking_id_seq'::regclass);


--
-- Name: highlights id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.highlights ALTER COLUMN id SET DEFAULT nextval('public.highlights_id_seq'::regclass);


--
-- Name: lecture_slides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_slides ALTER COLUMN id SET DEFAULT nextval('public.lecture_slides_id_seq'::regclass);


--
-- Name: note_clips id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.note_clips ALTER COLUMN id SET DEFAULT nextval('public.note_clips_id_seq'::regclass);


--
-- Name: notes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notes ALTER COLUMN id SET DEFAULT nextval('public.notes_id_seq'::regclass);


--
-- Name: otp_verifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications ALTER COLUMN id SET DEFAULT nextval('public.otp_verifications_id_seq'::regclass);


--
-- Name: question_performance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_performance ALTER COLUMN id SET DEFAULT nextval('public.question_performance_id_seq'::regclass);


--
-- Name: quiz_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts ALTER COLUMN id SET DEFAULT nextval('public.quiz_attempts_id_seq'::regclass);


--
-- Name: student_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_questions ALTER COLUMN id SET DEFAULT nextval('public.student_questions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vark_assessments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vark_assessments ALTER COLUMN id SET DEFAULT nextval('public.vark_assessments_id_seq'::regclass);


--
-- Data for Name: bookmarks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookmarks (id, user_id, topic_id, media_type, timestamp_sec, label, created_at) FROM stdin;
2	5	1.1	audio	45.147583	Testing Bookmark 1. Definition Starts here.	2026-04-24 18:34:36.662618
4	5	1.1	video	28.93814	Testing Video Bookmark 1: Electron Transfer Process	2026-04-24 18:36:14.568352
\.


--
-- Data for Name: chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: content_generation_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_generation_log (id, topic_id, content_type, generated_code, preview_path, status, generated_at) FROM stdin;
\.


--
-- Data for Name: content_status; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feedback (id, user_id, topic_id, rating, feedback_text, submitted_at) FROM stdin;
1	5	1.1	5	Testing Reviews.	2026-04-24 20:37:52.293812
\.


--
-- Data for Name: format_tracking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: highlights; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.highlights (id, user_id, topic_id, tab, selected_text, color, paragraph_index, start_offset, end_offset, created_at) FROM stdin;
11	5	1.1	english	The metal atom loses electrons to become a positively charged cation, while the non-metal gains these electrons to become a negatively charged anion.	pink	0	242	391	2026-04-24 18:32:14.827906
\.


--
-- Data for Name: lecture_slides; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: note_clips; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: otp_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.otp_verifications (id, user_id, otp_code, purpose, expires_at, used, created_at) FROM stdin;
3	5	711126	email_verification	2026-04-17 09:39:51.739113	t	2026-04-17 14:29:51.740726
4	5	946543	password_reset	2026-04-18 03:58:04.400869	t	2026-04-18 08:48:04.403927
5	3	752882	password_reset	2026-04-18 04:29:07.752021	t	2026-04-18 09:19:07.755211
6	6	188400	email_verification	2026-04-19 14:01:25.678618	f	2026-04-19 18:51:25.68418
7	8	163413	email_verification	2026-04-24 12:39:15.708164	f	2026-04-24 17:29:15.549905
\.


--
-- Data for Name: question_performance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question_performance (id, quiz_attempt_id, user_id, topic_id, question_type, question_text, student_answer, correct_answer, reference_answer, is_correct, similarity_score, points_earned, points_possible, answered_at) FROM stdin;
\.


--
-- Data for Name: quiz_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: topics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_preferences (user_id, current_format, recommended_format, updated_at) FROM stdin;
5	\N	lecture	2026-04-24 20:37:19.324156
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vark_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vark_assessments (id, user_id, visual_score, auditory_score, reading_score, kinesthetic_score, recommended_format, assessed_at) FROM stdin;
1	5	3	10	5	0	auditory	2026-04-24 20:37:19.331927
\.


--
-- Name: bookmarks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookmarks_id_seq', 5, true);


--
-- Name: chapters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chapters_id_seq', 5, true);


--
-- Name: content_generation_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.content_generation_log_id_seq', 1, false);


--
-- Name: content_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.content_status_id_seq', 100, true);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feedback_id_seq', 1, true);


--
-- Name: format_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.format_tracking_id_seq', 76, true);


--
-- Name: highlights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.highlights_id_seq', 11, true);


--
-- Name: lecture_slides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lecture_slides_id_seq', 83, true);


--
-- Name: note_clips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.note_clips_id_seq', 4, true);


--
-- Name: notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notes_id_seq', 29, true);


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.otp_verifications_id_seq', 7, true);


--
-- Name: question_performance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.question_performance_id_seq', 1, false);


--
-- Name: quiz_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_attempts_id_seq', 12, true);


--
-- Name: student_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_questions_id_seq', 28, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: vark_assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vark_assessments_id_seq', 1, true);


--
-- Name: bookmarks bookmarks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT bookmarks_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_chapter_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_chapter_number_key UNIQUE (chapter_number);


--
-- Name: chapters chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_pkey PRIMARY KEY (id);


--
-- Name: content_generation_log content_generation_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_generation_log
    ADD CONSTRAINT content_generation_log_pkey PRIMARY KEY (id);


--
-- Name: content_status content_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_status
    ADD CONSTRAINT content_status_pkey PRIMARY KEY (id);


--
-- Name: content_status content_status_topic_id_content_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_status
    ADD CONSTRAINT content_status_topic_id_content_type_key UNIQUE (topic_id, content_type);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: format_tracking format_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.format_tracking
    ADD CONSTRAINT format_tracking_pkey PRIMARY KEY (id);


--
-- Name: highlights highlights_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.highlights
    ADD CONSTRAINT highlights_pkey PRIMARY KEY (id);


--
-- Name: lecture_slides lecture_slides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_slides
    ADD CONSTRAINT lecture_slides_pkey PRIMARY KEY (id);


--
-- Name: lecture_slides lecture_slides_topic_id_slide_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_slides
    ADD CONSTRAINT lecture_slides_topic_id_slide_number_key UNIQUE (topic_id, slide_number);


--
-- Name: note_clips note_clips_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.note_clips
    ADD CONSTRAINT note_clips_pkey PRIMARY KEY (id);


--
-- Name: notes notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_pkey PRIMARY KEY (id);


--
-- Name: notes notes_user_id_topic_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_user_id_topic_id_key UNIQUE (user_id, topic_id);


--
-- Name: otp_verifications otp_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey PRIMARY KEY (id);


--
-- Name: question_performance question_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_performance
    ADD CONSTRAINT question_performance_pkey PRIMARY KEY (id);


--
-- Name: quiz_attempts quiz_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_pkey PRIMARY KEY (id);


--
-- Name: student_progress student_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT student_progress_pkey PRIMARY KEY (user_id, topic_id);


--
-- Name: student_questions student_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_questions
    ADD CONSTRAINT student_questions_pkey PRIMARY KEY (id);


--
-- Name: topics topics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT topics_pkey PRIMARY KEY (topic_id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vark_assessments vark_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vark_assessments
    ADD CONSTRAINT vark_assessments_pkey PRIMARY KEY (id);


--
-- Name: idx_content_status_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_status_status ON public.content_status USING btree (status);


--
-- Name: idx_content_status_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_content_status_topic ON public.content_status USING btree (topic_id);


--
-- Name: idx_feedback_rating; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_feedback_rating ON public.feedback USING btree (rating);


--
-- Name: idx_feedback_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_feedback_topic ON public.feedback USING btree (topic_id);


--
-- Name: idx_format_tracking_format; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_format_tracking_format ON public.format_tracking USING btree (format);


--
-- Name: idx_format_tracking_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_format_tracking_topic ON public.format_tracking USING btree (topic_id);


--
-- Name: idx_format_tracking_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_format_tracking_user ON public.format_tracking USING btree (user_id);


--
-- Name: idx_gen_log_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gen_log_topic ON public.content_generation_log USING btree (topic_id);


--
-- Name: idx_lecture_slides_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lecture_slides_topic ON public.lecture_slides USING btree (topic_id);


--
-- Name: idx_progress_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_progress_status ON public.student_progress USING btree (status);


--
-- Name: idx_progress_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_progress_user ON public.student_progress USING btree (user_id);


--
-- Name: idx_question_perf_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_question_perf_topic ON public.question_performance USING btree (topic_id);


--
-- Name: idx_question_perf_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_question_perf_type ON public.question_performance USING btree (question_type);


--
-- Name: idx_questions_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_topic ON public.student_questions USING btree (topic_id);


--
-- Name: idx_questions_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_user ON public.student_questions USING btree (user_id);


--
-- Name: idx_quiz_attempted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quiz_attempted ON public.quiz_attempts USING btree (attempted_at);


--
-- Name: idx_quiz_format; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quiz_format ON public.quiz_attempts USING btree (format_used);


--
-- Name: idx_quiz_topic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quiz_topic ON public.quiz_attempts USING btree (topic_id);


--
-- Name: idx_quiz_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quiz_user ON public.quiz_attempts USING btree (user_id);


--
-- Name: idx_topics_chapter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topics_chapter ON public.topics USING btree (chapter_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_vark_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vark_user ON public.vark_assessments USING btree (user_id);


--
-- Name: bookmarks bookmarks_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT bookmarks_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: bookmarks bookmarks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmarks
    ADD CONSTRAINT bookmarks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: content_generation_log content_generation_log_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_generation_log
    ADD CONSTRAINT content_generation_log_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: content_status content_status_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_status
    ADD CONSTRAINT content_status_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- Name: content_status content_status_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_status
    ADD CONSTRAINT content_status_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: feedback feedback_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: feedback feedback_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: format_tracking format_tracking_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.format_tracking
    ADD CONSTRAINT format_tracking_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: format_tracking format_tracking_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.format_tracking
    ADD CONSTRAINT format_tracking_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: highlights highlights_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.highlights
    ADD CONSTRAINT highlights_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: highlights highlights_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.highlights
    ADD CONSTRAINT highlights_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: lecture_slides lecture_slides_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_slides
    ADD CONSTRAINT lecture_slides_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id) ON DELETE CASCADE;


--
-- Name: note_clips note_clips_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.note_clips
    ADD CONSTRAINT note_clips_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: note_clips note_clips_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.note_clips
    ADD CONSTRAINT note_clips_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notes notes_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: notes notes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: otp_verifications otp_verifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: question_performance question_performance_quiz_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_performance
    ADD CONSTRAINT question_performance_quiz_attempt_id_fkey FOREIGN KEY (quiz_attempt_id) REFERENCES public.quiz_attempts(id) ON DELETE CASCADE;


--
-- Name: question_performance question_performance_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_performance
    ADD CONSTRAINT question_performance_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: question_performance question_performance_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_performance
    ADD CONSTRAINT question_performance_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quiz_attempts quiz_attempts_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: quiz_attempts quiz_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempts
    ADD CONSTRAINT quiz_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: student_progress student_progress_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT student_progress_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: student_progress student_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT student_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: student_questions student_questions_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_questions
    ADD CONSTRAINT student_questions_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.topics(topic_id);


--
-- Name: student_questions student_questions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_questions
    ADD CONSTRAINT student_questions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: topics topics_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT topics_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapters(id);


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vark_assessments vark_assessments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vark_assessments
    ADD CONSTRAINT vark_assessments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict iHHFsS6oiz6dgwcxQ9kNYRi4TBy8hMLw3Jf7q9J0qPu0VePdgsmM5h6eW8fXWSh

